{{ if eq .chezmoi.os "windows" -}}
@exit
{{ end -}}
#!/usr/bin/env bash

# install brew
if type brew > /dev/null 2>&1 ; then
    echo 'brew is installed.'
else
    eval "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
    test -d ~/.linuxbrew && eval "$(~/.linuxbrew/bin/brew shellenv)"
    test -d /home/linuxbrew/.linuxbrew && eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
    test -r ~/.bash_profile && echo "eval \"\$($(brew --prefix)/bin/brew shellenv)\"" >> ~/.bash_profile
    echo "eval \"\$($(brew --prefix)/bin/brew shellenv)\"" >> ~/.profile
fi

cd {{.chezmoi.sourceDir}}
type brew > /dev/null 2>&1 && brew bundle 

cd ~
# install runtime via rtx
mise install

# fish plugin settings
fish -c "type fisher" > /dev/null 2>&1 || fish -c "curl -sL https://raw.githubusercontent.com/jorgebucaran/fisher/main/functions/fisher.fish | source\
  && fisher install jorgebucaran/fisher\
  && fisher install h-matsuo/fish-color-scheme-switcher"

# ranger plugin settings
test -d ~/.config/ranger/plugins/ranger_devicons || git clone https://github.com/alexanderjeurissen/ranger_devicons ~/.config/ranger/plugins/ranger_devicons
